/* NFT MarketPlace Start -- Muhsin Deniz -- */

@import './veriables.css';
@import './responsive.css';

/*
    NFT MarketPlace Veriables
*/

.btn-primary {
    background-image: url(../img/icons/custom/buttonBg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 25px;
    color: #fff;
}

.buy-art-work-week-card {
    padding: 30px;
}

.btn-light {
    background: var(--gray-bg);
    border: 0.5px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 47px;
    padding: 10px 18px;
    color: var(--black-text);
}

.btn-light-white{
    background: var(--btn-light-white);
    border: 0.5px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 47px;
    padding: 10px 18px;
    color: var(--text-light-color);
}

.btn-light-white:hover{
    color: var(--text-light-color);
}

.buy-art-work-week h1, 
.buy-art-work-week h2, 
.buy-art-work-week h3, 
.buy-art-work-week h4, 
.buy-art-work-week h5, 
.buy-art-work-week h6, 
.buy-art-work-week p,
.buy-art-work-week span,
.buy-art-work-week b,
.buy-art-work-week small, 
.buy-art-work-week a,
.buy-art-work-week .tab-pane,
.openProfileDropMenu h6,
.notificationPopup h5,
.notificationPopup h4,
.cryptoioria-banner-container h4,
.cryptoioria-banner-container div,
.openProfileDropMenu h4{
    color: var(--black-color);
}

.quickExplore h4{
    color: var(--black-color);
}

.quickExplore .ant-tabs-ink-bar{
    background: none !important;
}

.place-a-bid-popup-container div,
.place-a-bid-popup-container b,
.place-a-bid-popup-container h1,
.place-a-bid-popup-container h2
.place-a-bid-popup-container path{
    color: var(--black-color);
    fill: var(--black-color);
}

.profile-activity-filter-mobile path{
    fill: var(--black-color);
}

.create-single-section-container div,
.create-single-section-container h1,
.create-single-section-container h2,
.create-single-section-container h3, 
.create-single-section-container h4, 
.create-single-section-container h5, 
.create-single-section-container h6{
    color: var(--black-color);
    background-color: var(--bg-main);
}

.create-single-section-container .prize-single-collectible input{
    background-color: var(--bg-main);
    width: 100% !important;
}

.place-a-bid-popup-container input{
    width: 100% !important;
}

.profile-pictures-infos div,
.profile-pictures-infos h1,
.profile-pictures-infos h2,
.profile-pictures-infos h3, 
.profile-pictures-infos h4, 
.profile-pictures-infos h5, 
.profile-pictures-infos h6,
.profile-pictures-infos path{
    color: var(--black-color);
    fill: var(--black-color);
}

.create-collectible div,
.create-collectible h1,
.create-collectible h5,
.create-collectible p,
.create-collectible b{
    color: var(--black-color);
}

.profile-pictures-infos .profile-activity-filter-mobile path{
    fill: var(--pink-color);
}

.profile-pictures-infos .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap{
border-bottom: solid 1px var(--gray-color);
}

.ant-tabs-tab + .ant-tabs-tab div{
    color: var(--gray-color);
}

.profile-pictures-infos .btn-gray{
    background: var(--gray-bg);
    border: solid 1px #fff;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color: var(--black-color) !important;
}


.prize-single-collectible input{
    background: var(--bg-white);
}


.nft-start h3{
    color: var(--black-color);
}

.liveAuction-card-container small{
    color: var(--black-color);
}

.liveAuction-card-container div,
.liveAuction-card-container h6{
    background-color: var(--bg-white);
}

.headerSelect h3{
    color: var(--black-color);
}

.btn-ping  {
    background: var(--pink-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 25px;
    color: #fff;
}

.btn-ping-passive{
    background: var(--bg-white);
    border: solid 1px var(--pink-color);
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 25px;
    color: var(--black-text);
}

.btn-gray {
    background: var(--light-gray);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 25px;
    color: var(--white-color);
}

.btn-primary-outline {
    background: transparent;
    border: solid 1px var(--pink-color);
    border-radius: 30px;
    font-size: 12px;
    padding: 12px 25px;
    color: var(--black-color);
    width: 125px;
    height: 45px;
}

.btn-primary-outline-big{
    background: transparent;
    border: solid 1px var(--pink-color);
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 25px;
    color: var(--black-color);
    min-width: 145px !important;
    height: 45px;
}

.btn-primary-outline-responsive {
    background: transparent;
    border: solid 1px var(--primary-gradient);
    border-radius: 30px;
    font-size: 14px;
    padding: 12px 25px;
    color: var(--red-color);
}

footer .footer-menu {
    padding: 0;
    color: var(--black-text);
}

footer .footer-title {
    color: var(--black-text);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
}

footer .footer-title h3{
    color: var(--black-text) !important;
    font-size: 22px !important;
}

footer .footer-title h6{
    color: var(--black-text) !important;
}

footer .footer-menu li {
    list-style-type: none;
    padding: 10px 0;
    font-size: 14px;
    color: var(--black-text);
}

footer .footer-menu li:hover {
    cursor: pointer;
}

footer .footer-social-media-container {
    display: flex;
    width: 100%;
    color: var(--black-text);
}

footer p {
    color: var(--black-text);
    font-size: 14px;
}

footer .footer-social-media-container li {
    list-style-type: none;
    width: 28px;
    height: 28px;
    display: flex;
    color: var(--black-text);
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    margin-right: 20px;
    transition: linear .2s all;
    margin-top: 25px;
}

footer .footer-social-media-container li:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: linear .2s all;
}

.footer-copy-right {
    color: #C2C2C2;
    font-size: 14px;
    font-weight: 400;
}

footer div{
    color: var(--black-text);
}

footer section .footer-in-email {
    outline: none;
    border: 0.2px solid #C7C7C7;
    box-sizing: border-box;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.01);
    border-radius: 24px;
    padding: 0 20px;
    height: 50px;
    font-size: 14px;
    background-color: var(--footer-input-bg);
}

.artWorkWeekSection img {
    border-radius: 14px;
}

.artWorkWeekSection .artWorkMain {
    height: 450px !important;
    border-radius: 12px !important;
}

.art-work-description-container {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    border-radius: 13px;
    position: absolute;
    width: 80%;
    padding: 5px 10px;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
}

.footer-social-icons i {
    font-size: 22px;
    color: #9D9D9D;
    padding: 0 10px;
    cursor: pointer;
}

.footer-social-icons svg{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.footer-column-flex-border {
    border-bottom: 0.5px solid #adadad;
}

.d-web-none {
    display: none;
}

.margin-mobile-left {
    margin-left: 75px;
}

.topSeller .headerSelect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.topSellerCard {
    background-color: var(--bg-white);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}

.topSeller .topSellerCard .topSellectProfilePicture {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.topSeller .topSellerCard .topSellerUserInfo {
    width: 100%;
    text-align: center;
    padding: 70px 10px 20px 10px;
}

.topSeller .topSellerCard .topSellerUserInfo h5 {
    font-size: 13px;
}

.topSeller .topSellerCard .topSellerUserInfo small {
    color: var(--gray-color);
}

.topSellerContent .topSellerCard .topSellectProfilePicture .confirmation {
    width: 24px;
    height: 24px;
    background-color: var(--orange-color);
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.liveAuction .liveAuction-card-container .live-image img {
    border-radius: 15px;
    max-height: 206px;
    object-fit: cover;
}

.liveAuction .live-image {
    position: relative;
}

.liveAuction .card-heart-icon {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 15px;
    color: var(--gray-color);
}

.liveAuction .card-heart-icon i {
    color: var(--red-color);
}

.liveAuction .card-select-icon {
    background: var(--bg-white);
    backdrop-filter: blur(50px);
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
    bottom: -16px;
    right: 15px;
    border: 0.2px solid #EDECEC;
    box-sizing: border-box;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.01);
    border-radius: 50%;
}

.liveAuction .card-select-icon i {
    color: var(--black-color);
}

.liveAuction .live-user-list img {
    margin-right: -15px;
}

.liveAuction .live-user-list .live-card-tick {
    width: 12px;
    height: 12px;
    background-color: var(--orange-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 60px;
}

.liveAuction .live-user-list .live-card-tick i {
    font-size: 8px;
}

.liveAuction .card-time-hours {
    position: absolute;
    background: rgba(var(--gray-color), 0.8);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    left: 20px;
    bottom: -15px;
    text-align: center;
    padding: 5px 10px;
}

.quickExplore .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--black-color);
    color: var(--white-color);
}

.ant-tabs-top > .ant-tabs-nav::before{
    border: none !important;
}

.quickExplore .ant-tabs-tab-active{
    background-color: var(--black-color) !important;
    color: var(--bg-white) !important;
}

.quickExplore .ant-tabs-tab{
    background-color: rgba(157, 157, 157, .1);
    color: var(--gray-color);
    margin: 0 10px;
    border-radius: 30px;
    padding: 12px 20px !important;
}

.quickExplore .ant-tabs-tab:hover{
    color: var(--black-color);
}

/*
    Slider
*/


.nft-start .swiper-container{
    width: 100%;
    position: static;
}

.nft-start .swiper-slide{
    width: 100%;
}

.nft-start .swiper-container .swiper-slide img{
    border-radius: 15px;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
    display: none;
}

.swiper-button-prev, .swiper-button-next{
    width: 38px !important;
    height: 38px !important;
    border-radius: 50% !important;
    background: #e6e6e6 !important;
    backdrop-filter: blur(50px) !important;
    z-index: 9 !important;
}

.swiper-button-next:after{
    font-size: 20px !important;
    content: "→" !important;
    color: #000;
}

.nft-start .swiper-button-prev:after{
    font-size: 20px !important;
    content: "\2190" !important;
    color: #000;
}

.nft-start .slider-content{
    position: absolute;
    bottom: 0;
    background: rgba(var(--slider-opacity-card), 0.8) !important;
    backdrop-filter: blur(50px);
    padding: 25px;
    width: 100%;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.slider-conter-absolute{
    position: absolute;
    top: -75px;
    border-radius: 15px;
    height: 100px;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
    padding: 15px;
    background: rgba(var(--slider-opacity-card), 0.8) !important;
    backdrop-filter: blur(50px);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin-50{
    margin-top: 100px !important;
}

.nft-start .slider-content .slider-conter-absolute h6{
    font-size: 14px;
    margin-bottom: 0;
    color: var(--black-color);
}

.nft-start .slider-content .slider-conter-absolute small{
font-size: 12px;
}

.ant-dropdown-menu-item{
    padding: 8px 12px !important;
    border-radius: 30px !important;
    color: var(--black-color) !important;
}

.ant-dropdown-menu{
    background-color: var(--bg-white) !important;
    color: var(--black-color) !important;
}

.quick-explore-filter-buton svg path{ 
    fill: var(--black-color) !important;
}

.quick-explore-filter-buton svg{ 
    margin-right: 10px !important;
}

.ant-dropdown-menu-item:hover{
    background-color: var(--pink-color) !important;
    color: var(--white-color) !important; 
}

.ant-dropdown-menu{
    border-radius: 12px !important;
    padding: 10px !important;
}

.nft-start .swiper-container::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border: solid 1px var(--pink-color);
    border-radius: 15px;
    top: 0;
    right: 0;
}

.nft-start .swiper-container::after{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border: solid 1px var(--pink-color);
    border-radius: 15px;
    top: -9px;
    right: -15px;
}

.nft-start .bg-lines{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border: solid 1px var(--pink-color);
    border-radius: 15px;
    top: -20px;
    right: -30px;
}


.liveAuction-card-container h6{
    color: var(--black-text) !important;
    margin-top: 15px !important;
}

.topSeller .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: transparent;
    color: var(--black-color);
    border: solid 1px var(--pink-color);
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 6px 25px;
    text-align: center;
}

footer .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border: solid 1px var(--gray-color) !important;
}

.topSeller .section-select-filter{
    margin-left: 20px;
}

.topSeller .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: auto;
}

.topSeller .ant-select-arrow path{
    fill: var(--black-color);
}

.topSeller .topSellerUserInfo h5 b{
    color: var(--black-color) !important;
}

.create-single-section-container .putOnMarketplace:hover{
    border: solid 1px var(--pink-color) !important;
    cursor: pointer;
}

.liveAuction-web-none{
    display: none;
}

.swiper-button-prev::after{
    font-size: 20px !important;
    content: "←" !important;
    color: #000;
}

.view-all-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-items button{
    max-width: 350px;
}

.prize-single-collectible .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: transparent !important;
    color: var(--black-color) !important;
    border: none !important;
    border-radius: 30px !important;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    padding: 6px 25px !important;
    text-align: center !important;
}


.prize-single-collectible .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: transparent;
    color: var(--black-color);
    border: solid 1px var(--pink-color);
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 6px 25px;
    text-align: center;
}

.prize-single-collectible .section-select-filter{
    margin-left: 20px;
}

.prize-single-collectible .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
    height: auto;
}

.prize-single-collectible .ant-select-arrow path{
    fill: var(--black-color);
}

/* .prize-single-collectible input{
    width: 35px !important;
} */

.border{
    border: solid 1px var(--pink-color) !important;
    border-radius: 30px !important;
    padding: 0 20px;
}


.border-gray{
    border: solid 1px var(--gray-color) !important;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    box-shadow: none !important;
}

.create-single-section-container .swiper-slide{
    width: 200px !important;
}

.profile-usr-name-h3-size h3{
    font-size: 24px !important;
}

.profile-pictures-infos .profile-pictures-cover{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 378px;
}

.flashLightFill{
    display: block;
}

.border-dotted{
    border-style: dashed !important;
    border-width: 2px !important;
}

.profile-not-found-browse-btn{
    border: solid 1px var(--gray-bg);
    margin: auto auto;
}

.d-lg-block{
    display: block;
}

.cryptoioria-banner-container{
    width: 100vw;
    height: 950px;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(74,65,126,0.8225665266106442) 35%, rgba(74,65,126,0.5732668067226891) 64%, rgba(252,252,252,0) 100%);
    position: relative;
    display: flex;
    justify-content: center;
}

.cryptoioria-banner-container::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../img/custom/cryptoioriaBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.artCryptoLogo{
    width: 600px;
}

.cryptoioria-banner-container .bottom-logo-x-icons svg path{
    fill: var(--black-text) !important;
}

.cryptoioria-banner-container .crypto-border-right{
    border-right: solid 2px #000;
    padding-right: 35px;
    padding-left: 35px;
}

.cryptoioria-banner-container h4{
    text-align: left;
}   

/* .place-a-bid-popup-container .popup-close-btn-outline{

} */

.place-a-bid-popup-container .coin-convert-direction{
    width: 62px;
    height: 62px; 
    border: solid 1px var(--gray-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}

.place-a-bid-popup-container .coin-convert-direction svg path{
    fill: var(--black-color);
}

.place-a-bid-popup-container .popup-width{
    width: 488px;
}

.coin-covert-popup-container{
    width: 488px;
}

.popup-close-btn-exit{
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    width: 15px;
    height: 15px;
    border: solid 1px var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}

.ant-select-item-option-content{
    padding: 6px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)::after{
    content: '\2713';
    position: absolute;
    width: 18px;
    height: 18px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #6300FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.signInActiveBtn{
    position: relative;
}

.signInActiveBtn::after{
    position: absolute;
    content: 'Most Popular';
    padding: 7px 15px;
    border-radius: 30px;
    background-color: var(--black-color);
    color: var(--white-color);
    right: 0;
    top: -15px;
}

.sign-in-container-section h5,
.sign-in-container-section svg path,
.sign-in-container-section h2,
.sign-in-container-section p{
    color: var(--black-text) !important;
    fill: var(--black-text) !important;
}

.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}
.StepProgress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 33px;
  width: 10px;
  height: 100%;
  border-left: 2px solid var(--gray-bg);
}
.StepProgress-item {
  position: relative;
}
.StepProgress-item:not(:last-child) {
  padding-bottom: 50px;
}

.StepProgress-item{
    padding-left: 20px;
}

.StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}
.StepProgress-item::after {
    content: attr(data-step);
    position: absolute;
    top: 0;
    left: -37px;
    font-weight: bold;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid var(--gray-bg);
    box-shadow: 0px 25px 60px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    background-color: var(--white-color);
}

.StepProgress strong {
  display: block;
}

.activity-container .activity-list-container{
    border: solid 1px var(--gray-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.activity-container .ant-tabs-nav-wrap{
    border-bottom: solid 1px var(--gray-color) !important;
}


.following-page-section .nav-tabs{
    border: none !important;
}

.following-page-section .nav-link{
    border-radius: 30px;
    border: solid 1px var(--pink-color);
    padding: 10px 20px;
    background: none;
    max-height: 48px;
    margin-right: 20px;
    color: var(--black-text);
}

.following-page-section svg{
    margin-right: 15px;
}

.following-page-section .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: var(--black-color) !important;
    color: var(--white-color) !important;
}

.following-page-section .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active svg path{
    fill: var(--white-color) !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: var(--black-color) !important;
}


.following-page-section .btn-primary-following svg path{
    fill: var(--black-text);
}

.putOnMarketplace svg path{
    fill: var(--black-color) !important;
}

.following-page-section .tab-content .tab-pane{
    text-align: center;
}

.following-page-section .following-divition{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.following-page-section .nav-tabs .nav-link{
    align-items: center;
}
 
.nft-start .home-nft-slider-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}


.quickExplore .nav-tabs{
    border: none;
    display: flex;
    align-items: center;
    flex-wrap: initial;
    width: 100%;
    height: 50px;
    overflow-x: auto;
}

.quickExplore .nav-tabs .nav-link{
    background-color: var(--gray-bg);
    color: var(--gray-color);
    border-radius: 30px;
    margin-right: 15px;
}

.ant-input:focus{
    background-color: red !important;
}

.following-page-section .tab-content{
    min-height: 350px;
}

.following-page-section .nav-link svg path{
    fill: var(--black-color) !important;
}