@import '../fonts/stylesheet.css';
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Londrina+Sketch&display=swap');

:root {
    --white-color: #fff;
    --bg-main: #FCFCFC;
    --bg-white: #fff;
    --primary-gradient: #6300FF;
    --black-color: #000;
    --orange-color: #FEA431;
    --bg-card: #fff;
    --color-orange: #ea5b2b;
    --light-dark: #979797;
    --red-color: #EF1F1F;
    --light-red: #EB5853;
    --pink-color: #6300FF;
    --gray-color: #9D9D9D;
    --light-gray: #C7C7C7;
    --tabs-bg: #9D9D9D;
    --gray-bg: #EDEDED;
    --black-text: #000;
    --faq-container: #1a252f;
    --slider-opacity-card: 255, 255, 255;
    --btn-light-white: #fff;
    --text-light-color: #111;
    --gray-bg-color: #8D9299;
    --notification-ping-bg: #F7F2FF;
    --footer-input-bg: #fff;
}

/* h1, h2,h3,h4,h5,h6,p, b, small, a, li, footer{
    color: var(--white-color) !important;
} */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main) !important;
}

h1{
    font-size: 72 !important;
}

h2{
    font-size: 40px !important;
}

h3{
    font-size: 32px !important;
}

h4{
    font-size: 24px !important;
}

h1, h2, h3{
    font-family: 'LoRes 9 OT Wide' !important;
    font-weight: normal !important;
    font-style: normal !important;
}


/*
    Home Page
*/

.bg-white {
    background-color: var(--bg-white) !important;
}

.nft-start, .nft-start-counter h4, .nft-start h4, .navbar-brand span{
    color: var(--black-color) !important;
}

.nft-start .section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 111.8%;
    color: var(--black-color);
}

.border-radius {
    border-radius: 15px;
}

.color-gray {
    color: var(--gray-color);
}

.color-orange {
    color: var(--color-orange);
}

.cursor-pointer{
    cursor: pointer;
}
